html {
  --scrollbarBG: #cfd8dc00;
  --thumbBG: #adadad60;
}

.drawer-custom {
  overflow: scroll !important;
  scrollbar-width: thin !important;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG) !important;
}

.drawer-custom::-webkit-scrollbar {
  width: 5px !important;
}

.drawer-custom::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.drawer-custom::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) !important;
  border-radius: 6px !important;
  /* border: 3px solid var(--scrollbarBG); */
}
